**/bin/
**/obj/
**/node_modules/
**/.git
**/.vs
**/.vscode
**/.idea
**/appsettings.Development.json
**/firebase-service-account.json
**/UserSecretsId
**/*.md
**/.github
**/docker-compose*.yml
**/Dockerfile
**/.dockerignore
**/.gitignore
**/.env
**/.env.*
**/mobile/
**/admin/
